@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Toy Store DB</h1>
    <div class="container">
        <img src="~/toy.jpg" alt="Alternate Text" />
    </div>
    
</div>
